/* what i am wrighting for*/ /*the resion why i wright it*/
header {

}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightskyblue;
}

.wrapper {
    width: 1000px;
    background-color:lightcyan;
    margin: auto;
}
nav ul {
    text-align: center;
    list-style:none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    height: 20px;
    padding: 20px;
}

header {
    background-image:url("../images/lone-starfish-wide.jpg");;
}

article {
    width: 50%;
    float: left;
}

nav li {
    width: 33%;
}

.float h2 {
    float: left;
    width: 50%;
}