/* what i am wrighting for*/ /*the resion why i wright it*/
header {

}

.wrapper {
    width: 1000px;
    background-color:lightcyan;
    margin: auto;
}
nav ul {
    list-style:none;
    margin: 0%;
    padding: 0%;
    display: flex;
}

header {
    background-image:url("../images/lone-starfish-wide.jpg");;
}