*{
    font-family: 'Cabin', sans-serif;
  }
  /* add media q for mobile first */
  @media screen and (max-width:720px) {
    /*this code to make the nav */
    .topnav {
        background-color: #222;
        display: grid;
        place-items: center;
        height: 100vh; /* set the height of the container to the full viewport height */
      }
      
      .topnav ul {
        list-style:none;
        display: grid;
        gap: 1rem;
        place-items: center; /* center items both horizontally and vertically within the container */
        margin-top: 2rem; 
      }
      
      .topnav li a {
        color:#c78c06;
      }
      
      .topnav li {
        padding: 5px;
        color: aliceblue;
      }
      nav ul li a:hover {
        background-color: #c78c06;
        color: #222222;
    }
      header {
       /*i use the image folder to add background */
        background-image: url("../images/main-banner.jpg");
        background-size: cover;
        background-position: center;
        height: 400px;
      }
      .opc 
      {
       /*here i make the opicty */
        background: rgba(0, 0, 0, 0.6);
        color: #fff;
        margin: 20px 0 0px 0px;
        padding: 15px;
      }/*i make the button for the header */
       .opcbu
        {
            background-color: #c78c06;
            border: none;
            padding: 15px;
            cursor: pointer;
        }      
        .opc a
        {
            color: #fff;
        }
        .aboutus {
            background-color: #ffe6ac;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
          }
          
          .aboutus img {
            margin-top: 5px;
            max-width: 100%;
           
          }
          
          .aboutus h3 {
            margin-top: 20px;
          }
          
          .aboutus p {
            margin-top: 10px;
            color: #222;
          }
          /*i use flex to desplay the each section */
          .services section {
            background-color: #ffe6ac;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin: 20px 0;
          }
          
          .services section img {
            width: 100%;
            max-width: 400px;
            height: auto;
            margin-bottom: 20px;
          }
          
          .services section h4 {
            font-size: 24px;
            margin-bottom: 10px;
          }
          
          .services section p {
            font-size: 18px;
            margin-bottom: 20px;
            color: #222;
  
          }
          
          .services section a {
            font-size: 16px;
            padding: 10px 20px;
            border: 2px solid #000;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            background-color: #222222;
          }
          /*i do the same like the header */
    .ourvision
    {
        background-image: url(../images/vision.jpg);
        background-size: cover;
        background-position: center;
        height: 200px;
    }
    .ourvision h3 , p
    {
        padding: 10px;
        color: white;
    }
    .ourvision a
    {
        font-size: 16px;
            padding: 10px 20px;
            border: 2px solid #000;
            text-transform: uppercase;
            text-decoration: none;
            color: white;
            background-color: #111b46;
    }
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
     .team section {
        background-color: #ffe6ac;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        text-align:left;
      }
      
      .team img {
        width: 200px;
        height: auto;
        margin-bottom: 10px;
      }
      .team p {
        text-align: center;
        color: #222;
      }
      .contact_us {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .for {
        margin-bottom: 30px;
      }
      
      .map {
        margin-bottom: 30px;
      }
      
      
      form, table, .map {
        width: 100%;
        max-width: 800px;
      }
      /*i do the table and the color  */
      table {
        
  border: 2px solid black;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
  
      th, td {
        border: 1px solid black;
        padding: 5px;
        text-align: left;
      }
      
      th {
        background-color: #ffe6ac;
        font-weight: bold;
      }
  
      footer {
        background-color: #232323;
        min-width: 100%;
        width: 100%;
      }
  
      footer p {
        color: #c78c06;
  }
  }  